/* Styles for dark mode */
.dark-mode {
  background-color: #000c66; 
  color: white;
}

.dark-mode .navbar {
  background-color: #050a30;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode p,
.dark-mode label,
.dark-mode ::placeholder {
  color: white;
}
.dark-mode input, 
.dark-mode textarea {
  background-color: grey;
}

.dark-mode #webDeveloper::before,
.dark-mode .card {
  background: #000c66;
}
.dark-mode #webDeveloper::after,
.dark-mode .github {
  background: white;
}

.dark-mode #findOutButton {
  color: #189ab4;
}

.dark-mode #findOutButton:hover {
 color: #050a30;
}

.dark-mode .btn-success,
.dark-mode #main-footer {
  background-color: #050a30;
  border-color: #050a30;
}