:root {
  --typingSpeed: 3s;
}

/* get rid of white space on the right */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  }

/* Extra small screens*/
@media only screen 
and (min-device-width: 280px) 
and (max-width: 600px) 
  {
  .img_fit {
    max-width: 35%;
    max-height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
   
  .font-main{
    font-size: 16px;
  }
}

/* Medium screens */
@media only screen and (min-width: 768px) {
  .img_fit {
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* Extra large screens */
@media only screen and (min-width: 1200px) {
  .img_fit {
    max-width: 80%;
    max-height: 80%;
  }
}

.icon_size {
  width: 75px;
  height: 75px;
}

.btn:hover, 
.dark-mode .btn:hover {
  background-color: #1dacd6;
  border-color: #1dacd6;
  border-radius: 300px;
  font-weight: 700;
}

#inputName, #inputEmail, #textareaMessage {
  border-color: black;
}

.font-main {
  font-weight: 600;
}

.colorBlock {
  background: aqua;
}

.aboutRules {
  text-align: left;
  line-height: 1.5;
}

h1, #findOutButton {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* animation */
#welcomeParagraph {
  position: relative;
  animation: moveToTheLeft 2s forwards;
}

#developerName {
  position: relative;
  animation: flashingEffect 5s forwards;
}

#webDeveloper {
  position: relative;
  width: max-content;
  height: max-content;
}

#webDeveloper::before,
#webDeveloper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#webDeveloper::before {
  background: white;
  animation: typingEffect var(--typingSpeed) steps(32) 2s forwards;
}

#webDeveloper::after {
  width: 0.1em;
  background: black;
  animation: typingEffect var(--typingSpeed) steps(32) 2s forwards,
    cursorBlink 700ms steps(32) forwards;
}

#findOutButton {
  opacity: 0;
  animation: buttonMovement 2s ease calc(var(--typingSpeed) + 2s) forwards;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} 

@keyframes moveToTheLeft {
 
  from {
    transform: translate(-50%);
  }
  to {
    left: 18vw;
  } 
}

@keyframes typingEffect {
  to {
    left: 100%;
  }
}

@keyframes flashingEffect {
   40%, 70% {
    color: hsl(29, 97%, 57%);
  }

  60% {
    color: #1dacd6;
  }

  80% {
    color: hsl(2, 97%, 57%);
  }

  100% {
    color: #189ab4;
  }
}

@keyframes cursorBlink {
  to {
    background: transparent;
  }
}

@keyframes buttonMovement {
  to {
    opacity: 1;
  }
}

.navbar {
  background-color: darkgreen;
}

.dark-mode {
  background-color: #000c66; 
  color: white;
}

.dark-mode .navbar {
  background-color: #050a30;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode p,
.dark-mode label,
.dark-mode ::placeholder {
  color: white;
}
.dark-mode input, 
.dark-mode textarea {
  background-color: grey;
}

.dark-mode #webDeveloper::before,
.dark-mode .card {
  background: #000c66;
}
.dark-mode #webDeveloper::after {
  background: white;
}

.dark-mode #findOutButton {
  color: #189ab4;
}

.dark-mode #findOutButton:hover {
 color: #050a30;
}

.dark-mode .btn-success,
.dark-mode #main-footer {
  background-color: #050a30;
  border-color: #050a30;
}


